In [5]:
# !pip uninstall sklearn
# !pip uninstall scikit-learn
# !pip install sklearn

In [6]:
import pandas as pd  # importando a bibliotecas pandas
from sklearn.datasets import load_digits
from sklearn.linear_model import Perceptron

In [7]:
df_tic_tac_toe = pd.read_csv("tic-tac-toe.csv")  # Lendo o arquivo csv e armazendano em um dataframe

# Nova secção

In [8]:
df_tic_tac_toe.isna().any() # verificando campo vazio que pode quebrar o sistema

1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
resultado    False
dtype: bool

In [9]:
df_tic_tac_toe.head() # vendo como esta os dados

   1  2  3  4  5  6  7  8  9 resultado
0  x  x  x  x  o  o  x  o  o  positivo
1  x  x  x  x  o  o  o  x  o  positivo
2  x  x  x  x  o  o  o  o  x  positivo
3  x  x  x  x  o  o  o  b  b  positivo
4  x  x  x  x  o  o  b  o  b  positivo

In [10]:
# Replace tudo para numero
df_tic_tac_toe.replace({'o' :-1 , 'b' : 0 , 'x': 1 , 'positivo' : 1 , 'negativo':-1 }, inplace=True)

In [11]:
# Separação dos dados de entrada e saida 
saida = df_tic_tac_toe['resultado']
entrada = df_tic_tac_toe.drop(columns ='resultado')

In [12]:
from sklearn.model_selection import train_test_split #serve para dividir os dados em train e test

# test_size=0.2 = 20¨%
x_train, x_test, y_train, y_test = train_test_split(entrada, saida, test_size=0.2)

In [13]:
from sklearn.naive_bayes import GaussianNB #algoritmo que utilizei para classificação dos dados
#Modelo escolhido e utilizado é o Naive Bayes
model = GaussianNB()

#Treinando o modelo
model.fit(x_train, y_train)

#Prevendo a resposta para os dados de teste
y_pred = model.predict(x_test)

In [14]:
#Métrica de avaliação do modelo
from sklearn.metrics import classification_report
classification_report(y_test, y_pred)

'              precision    recall  f1-score   support\n\n          -1       0.62      0.42      0.51        59\n           1       0.78      0.89      0.83       133\n\n    accuracy                           0.74       192\n   macro avg       0.70      0.66      0.67       192\nweighted avg       0.73      0.74      0.73       192\n'

In [41]:
# Valores de entrada para usuario 
lista = []
for num in range(9):

  try:
    print("Digite a posicao : "+ str(num+1))
    lista.append(int(input())) # se digitar valor diferente de int o cast para int ira gerar uma excessao 
  except:
    print("Error: Digite um valor Valido !")
    break


filtrados = [x for x in lista if x > 1 or x < -1] # pegando valores diferentes dos validos ( -1, 0 , 1 )
if (len(filtrados) ==0 ): # verificando se existe valor diferentes dos validos ( -1, 0 , 1 )
  x_input = pd.DataFrame(lista) # convertendo a lista em pandas dataframe 
else:
  print("Error: valores diferentes de -1, 0 , 1 foi inserido ")

# x = [-1, 1,	1, 0,	-1, 0, 1,	0,	-1] # NAO -1vitoria d X
# x = [1, 1,	1, 0,	-1, 0, 1,	-1,	-1] # vitoria d X

Digite a posicao : 1
1
Digite a posicao : 2
1
Digite a posicao : 3
1
Digite a posicao : 4
0
Digite a posicao : 5
-1
Digite a posicao : 6
0
Digite a posicao : 7
1
Digite a posicao : 8
-1
Digite a posicao : 9
-1

In [42]:
a = x_input.transpose()
b = a.replace({-1 :'O' , 1 : 'X' , 0 : 'B' }, inplace=True)

print("|  " + a[0][0] + "  " + a[1][0] + "  " + a[2][0] + " | ")
print("|  " + a[3][0] + "  " + a[4][0] + "  " + a[5][0] + " | ")
print("|  " + a[6][0] + "  " + a[7][0] + "  " + a[8][0] + " | ")

|  X  X  X |
|  B  O  B |
|  X  O  O |

In [43]:
#Prevendo a resposta para os dados de teste

y_user_pred = model.predict(x_input.transpose())

print("Vitoria de X: "+ str(y_user_pred[0] == 1))
print()
print()
print()
# if int(y_user_pred[0]) == 1:
#     print("Vitoria de X")
# else:
#     print("Vitoria de O")

Vitoria de X: True

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"