In [ ]:
# !pip uninstall sklearn
# !pip uninstall scikit-learn
# !pip install sklearn

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 1.2 MB/s
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (3.1.0)
Requirement already satisfied: numpy>=1.14.6 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.21.6)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.1.0)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1310 sha256=94523a8ad3197277277ad6dd2599c77ef4692e202e86dc9d7a65a8bb873cf0ed
  Stored in directory: /root/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: scikit-learn, sklearn
Successfully installed scikit-learn-1.0.2 sklearn-0.0

In [5]:
import pandas as pd  # importando a bibliotecas pandas
from sklearn.datasets import load_digits
from sklearn.linear_model import Perceptron

In [6]:
df_tic_tac_toe = pd.read_csv("tic-tac-toe.csv")  # Lendo o arquivo csv e armazendano em um dataframe

In [7]:
df_tic_tac_toe.isna().any() # verificando campo vazio que pode quebrar o sistema

1            False
2            False
3            False
4            False
5            False
6            False
7            False
8            False
9            False
resultado    False
dtype: bool

In [8]:
df_tic_tac_toe.head() # vendo como estapo os dados

   1  2  3  4  5  6  7  8  9 resultado
0  x  x  x  x  o  o  x  o  o  positivo
1  x  x  x  x  o  o  o  x  o  positivo
2  x  x  x  x  o  o  o  o  x  positivo
3  x  x  x  x  o  o  o  b  b  positivo
4  x  x  x  x  o  o  b  o  b  positivo

In [9]:
df_tic_tac_toe.replace({'o' :-1 , 'b' : 0 , 'x': 1 , 'positivo' : 1 , 'negativo':-1 }) # Replace tudo para numero

     1  2  3  4  5  6  7  8  9  resultado
0    1  1  1  1 -1 -1  1 -1 -1          1
1    1  1  1  1 -1 -1 -1  1 -1          1
2    1  1  1  1 -1 -1 -1 -1  1          1
3    1  1  1  1 -1 -1 -1  0  0          1
4    1  1  1  1 -1 -1  0 -1  0          1
..  .. .. .. .. .. .. .. .. ..        ...
953 -1  1  1  1 -1 -1 -1  1  1         -1
954 -1  1 -1  1  1 -1  1 -1  1         -1
955 -1  1 -1  1 -1  1  1 -1  1         -1
956 -1  1 -1 -1  1  1  1 -1  1         -1
957 -1 -1  1  1  1 -1 -1  1  1         -1

[958 rows x 10 columns]

In [10]:
 def sklearn_to_df(sklearn_dataset):
  df = pd.DataFrame(sklearn_dataset.data, columns=sklearn_dataset.feature_names)
  df["target"] = pd.Series(sklearn_dataset.target)

  return df